<footer class="">
  <div class="container">
    <div class="row">
      <div class="col text-center footer-container">
        <div class="left">
          <i class="fas fa-copyright    "></i> 
          Copyright 2019 <strong>Pyntamil.com</strong>, All Rights Reserved.
        </div>
        <div class="right">
            <ul>
              <li><a href="/faq" class="footer-link">வினாவிடம்</a></li>
              <span class="seperator">|</span>
              <li><a href="/terms" class="footer-link ">வரைமுறை</a></li>
              <span class="seperator">|</span>
              <li><a href="/privacypolicy" class="footer-link ">தனியுரிமைக் கோட்பாடு</a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</footer>