<!DOCTYPE html>
<html lang="ta">

<head>
  <% include partials/commonhead %>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="body-wrapper">
    <% include partials/header %>
    <% include partials/stbutton %>

    <div class="body-content">
      <section id="faq" class="my-4">
        <h1>Frequently Asked Questions</h1>
      </section>
    </div>
    <% include partials/footer %>
  </div>
  <% include partials/commonscripts %>
</body>

</html>